body{
    /* margin: 1rem; */
    background-color:black; 
}
.navbar {
    background-color:black;
    color:white;
    display:flex;
    height: 5rem;
    width: auto;
    gap: 3rem;
    justify-content: space-evenly;
}
.right{
    display: flex;
    gap:1rem;
}
.landing-body {
    margin:0;
}
.landing header{
    color:white;
    display: flex;
}
.features {
    display: flex;
    width: 100%;
}
.for-college {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:1rem;
}
.for-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: .25rem;

}
.learn-more {
    background-color:blue;
    color:white;
    border-radius: .25rem;
    height:3rem;
    color:black;
}
*{
    color:aliceblue;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content:space-evenly;
    gap: 2rem;
    margin : 1rem;
}



}


}




